<!DOCTYPE html>
<html>
<head>
</head>

<body>
<<<<<<< HEAD
  <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
  <p>97 Bowling Alley Lane, Boulder CO </p>
=======
  <h1>NAME OF ALLEY</h1>
  <h2>TAGLINE</h2>
  <p>ADDRESS</p>
>>>>>>> c90dc251f39656eedd3e3faabfc337d579c7b11a
</body>
</html>
